body {background-color: rgb(194, 19, 115);
color: black;
font-family: cursive;
font-size: 20px;}
h1 
{ color:blue;
text-decoration: underline;}
h2{ color:  greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#css syntax heading { color: orange;}
  